

services:
  redis:
    image: redis/redis-stack-server
    container_name: redis-stack
    ports:
      - "6379:6379"
      - "8001:8001"        
    

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
    


